*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-around;
}
.header{
    width:90%;
    height:3rem;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    background:red;
}
.logo{
    wi
}